@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(idroid.otf);
}
body{
    background-color: #84E1AD;
    margin: 0px;
}
header{
    background-image: linear-gradient(to bottom, #3AD07D, #1A5C38);
    padding: 3px;
    padding-bottom: 8px;
    border: 20px;
    font-size: 1.8em;
    margin: -15px 0px 0px 0px;
}
header > h1{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 34px;
    color: white;
    font-weight: lighter;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
   
}
header > p{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
} 
nav > a{
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 9px;
    margin-right: 9px;
    padding: 2px;
}
a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
    margin: 0px 97px 12px 97px;
    padding: 4px 15px 40px 15px;
    border-radius: 0px 0px 8px 8px;
}
.verde{
    color: #1A5A37;
    font-weight: bold;
}
.imagem-container img {
    width: 100%;
    height: auto;
}
iframe {
    max-width: auto;
    max-height: auto;
}
section > p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 40px;
    text-align: justify;
    font-size: 17px;
    font-weight: lighter;
}
.link{
    text-decoration: none;
    color: #1A5A37;
    font-weight: bold;
}
.exclusivo{
    text-align: center;
    font-size: 32px;
}
.fonte{
    font-family: 'idroid';
    color: #1A5A37;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.479);
}
.decoracao{
    background-image: linear-gradient(to right, #3ad07e59, white );
    padding: 3px 3px 3px 9px;
    border-radius: 10px 0px 0px 10px;
}
article{
    background-color: #2FA866;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: 7px 1px 0px 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}
section#especial{
    background-color: #C5EBD6;
    border-radius: 0px 0px 10px 10px;
    margin: -3px 1px 24px 1px;
    padding: 3px;
    padding-bottom: 9px;
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}
section#especial > p{
    text-indent: 40px;
}
section#especial > ul{
    display: inline-block;
    list-style-type: none;
}
section#especial > ul#ul1{
    margin: 1px 1px 1px 51px
}
section#especial > ul#ul2{
    margin: 1px 1px 1px 246px;
}
li{
    position: relative;
    padding-left: 30px;
}
li::before{
    content: "\2713";
    position: absolute;
    left: 0;
    color: #333;
}
aside#sozinho{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
footer{
    background-color: #1A5A37;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
}
footer > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}